@media all and (max-width: 480px) {
	* {
		margin: 0px;
		padding: 0px;
		box-sizing: border-box;
	}
	/* Header*/
	#monheader {
		background-color: #fff;
		height: 200px;
		width: 100%;
		box-shadow: 1px 1px 10px #e5e5e5;
	}
	/* Containers*/
	.container {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		display: flex;
	}
	/* Footer */
	#monfooter {
		background-color: red;
		height: 70px;
		position: relative;
		bottom: 0px;
	}
	/* Inputs*/
	input {
		height: 30px;
		width: 250px;
	}
	/* Titre du header */
	.header_title {
		font-size: 13px;
	}
	/* Message succés index */
	.msg {
		color: #fff;
		font-weight: bold;
		background-color: green;
		padding: 5px 5px;
		margin-top: 10px;
		border-radius: 5px;
	}
}